.task-description
{
    border: cornsilk;
    border-radius: 15px;
    border-right: solid;
    border-left: solid;
}
.toggle-desc,.task-cdate
{
    
    border-radius: 10px;
    border-block-end-style: initial;
    border-collapse: collapse;
    border-left: inset;
    border-style: outset;
    font-style: italic;
    font-weight: bold;
    font-variant: petite-caps;
    background: linear-gradient(190deg,hsl(230deg 60% 75%) , transparent);
}
.difftarget
{
    font-size: small;
}
a:hover{
    color: white;
}
#toggle-image
{
    transition: ease-in-out 5s;
}
.nav-bg
{
    background-color: #060e69;
}
@media screen and (min-width: 599px)   {
    .card-hide
    {
        display:none;
        transition: ease-out 0.5s;
    }
    .table-hide
    {
        display: flexbox;
        transition: ease-in 0.5s;
    }
    label.task-date
{
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0px;
}
.floating
{
    float: right;
}
.out
{
    padding: 4px;
    background-color: rgba(0,0,0,.05);
    margin: 2px;
    
}
label{
    font-size: 22px;
    font-weight: 500;
}
.label{
    margin-bottom: 5px;
    margin-top: 10px;
}
.date
{
   line-height: 0.5em;
   margin-top: 20px;
   position: relative;
   float: right;
   margin-right: 0px;
   
}




    .res-but
    {
        border: 1px solid white;;
        width:20px;
        margin: 2.5px;
            
    }

    .mylink
    {
        color:white;
    }
    .mynav
    {
        background-color: #063585;
        height:50px;
        line-height: 0em;
    }
    .nav-button{
        float:right; 
        margin-top:14px; 
        margin-right:6px;
        display:none;
    }
    .res-li{
        display:inline-flex;
    }

 }
    @media screen and (max-width: 600px)
    {
       
        .card-hide
        {
            display:block;
            transition: ease-in 0.5s;
        }
        .table-hide
    {
        display:none;
        transition: ease-out 0.5s;
    }
        label.task-date
        {
            font-size: 0.8rem;
            font-weight: 400;
            margin: 0px;
        }
        .floating
        {
            float: right;
        }
        .out
        {
            padding: 4px;
            background-color: rgba(0,0,0,.05);
            margin: 2px;
            
        }
        label{
            font-size: 22px;
            font-weight: 500;
        }
        .label{
            margin-bottom: 5px;
            margin-top: 10px;
        }
        .date
        {
           line-height: 0.5em;
           margin-top: 20px;
           position: relative;
           float: right;
           margin-right: 0px;
           
        }

 
      
      
        li:hover{
            background-color: #063585;
        }
        .mynav
        {
            height:150px;
            transition: height 0.2s;
        }
        .res-butt{
            padding-left: 0px;
            padding-top: 0;
            /* height: auto; */
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: -10px;
            text-align: center;
    
        }

        .res-but
    {
        border: 1px solid white;;
        width:20px;
        margin: 2.5px;
            
    }
 
    li:hover
    {
        background-color: #071281;
    }
    .mylink
    {
        color:white;
    }
    .mynav
    {
        background-color: #063585;
        
    }
    .nav-button{
        float:right; 
        margin-top:14px; 
        margin-right:6px;
    }
    .res-li{
        display:none;
    }
    }

    .res-lii{
        display:none;
    }
    .res-nav{
        transition: height 0.54s ;
        height:50px;
    }
    .home{
        display:inline-block;
        
    }
  