.res
{
  padding:10px;
  width: 100%;
  font-size: 1vw;
}
a:link,a:active,a:visited,a:hover
{
  color:white;
}

#myScrollspy
{
  background-color: #243873;
  text-decoration-color: white;
  color: antiquewhite;
  z-index: 2;
}
body {
    position: relative;
  }
  ul.nav-pills {
    top: 20px;
    position: fixed;
    
  }
  .header
  {
    background-color: #021759;
    color: white;
    position: fixed;
    height: 40px;
    z-index: 1;
    width: 100%;
    
  }
  #dropdown
  {
    background-color: #0A1B4F;
  }

  li{
      color:white;
      width:120px;
  }
  div.col-8 div {
    height: 700px;
    padding-top: 35px;
  }
  #preview
  {
      position: fixed;
      bottom: 0px;
      right: 0px;
      margin-bottom: 20px;
      margin-right: 20px;
      border-radius: 5px;
  }

  p{
      margin: 0;
  }

  hr{
    background-color: black;
    height:50%;
  }

  #print
  {
    position:fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 20px;
    margin-right: 140px;
    border-radius: 10px;
  }
  .boxstyle
  {
    width:250px;
    border-radius: 5px;
    height: 34px;
  }

 .con-align *
 {
   vertical-align: middle;
   margin:0px;
 }

 .otherdiv
 {
   height:500px;
 }